<% if logged_in? %>
<h1>タスク一覧</h1>

<% if @tasks.any? %>

  <table class="table table-striped">
    <thread>
      <tr>
        <th>id</th>
        <th>タスク</th>
        <th>状況</th>
      </tr>
    </thread>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td>
            <%= link_to task.id, task %>
          </td>
          <td>
            <%= task.content %>
          </td>
          <td>
            <%= task.status %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
<%= link_to '新規タスクの追加', new_task_path, class: "btn btn-primary" %>

<% else %>
<div class="text-center">
  <h1>ログイン</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(:session, url: login_path) do |f| %>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div
<% end %>